<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let image of images">
    <ion-card padding>
      <ion-item (click)="toUser(image.user_id)">
        <h3 item-left>{{(image.user_id | username)}}</h3>
        <p item-right>{{image.time_added | time}}</p>
      </ion-item>
      <ion-card-content (click)="toPost(image.file_id)" >
        <img [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (image.filename | thumbnail)" *ngIf="image.media_type !== 'audio'">
        <img src="../../assets/audio.png" width="160px" *ngIf="image.media_type === 'audio'">
        <p><b>{{image.title | seemore: 50}}</b></p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>