<!--
  Generated template for the Post page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>post</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <article class="card">
    <h4 (click)="toUser(postDetails.user_id)">{{ (postDetails.user_id | username) }}</h4>
    <p>{{ postDetails.title }}</p>
    <div (dblclick)="like()">
      <img *ngIf="postDetails.media_type === 'image'" width="100%" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + postDetails.filename"
      />
      <video *ngIf="postDetails.media_type === 'video'" width="100%" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + postDetails.filename"
        [poster]="'http://media.mw.metropolia.fi/wbma/uploads/' + postDetails.screenshot" controls onclick="this.paused ? this.play() : this.pause()" ></video>
        <audio *ngIf="postDetails.media_type === 'audio'" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + postDetails.filename"
          controls></audio>
    </div>
    <p>
      <ion-icon name="heart" [hidden]="!liked" (click)="unlike()"></ion-icon>
      <ion-icon name="heart-outline" [hidden]="liked" (click)="like()"></ion-icon>
      <span [hidden]="likes.length === 0"><b>{{ likes.length }}</b></span>
    </p>
    <p [hidden]="postDetails.description === undefined">{{ postDetails.description }}</p>
    <hr/>
    <div *ngFor="let cmmt of comments">
      <p><b>{{ (cmmt.user_id | username) }}</b> {{ cmmt.comment }}</p>
    </div>
    <textarea rows="3" [(ngModel)]="cmt" placeholder="Comment"></textarea>
    <button (click)="addComment()">Send</button>
  </article>
</ion-content>